/*
  Pragmatic JavaScript
  Chapter 2
  Programming Assignment

  Author:     Meher Salim
  Date:       04/18/2024
  Filename:   styles.css
*/

/* Add your CSS styles here */
/*
fonts:
font-family: "Josefin Sans", sans-serif;
font-family: "Cardo", serif;

color scheme:
#dcf1f4
#654db4
#f9d6ed
#1c3069
*/

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Body Styles */
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #dcf1f4;
  color: #1c3069;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Form Container Styles */
.form-container {
  max-width: 450px;
  margin: 15% auto;
  padding: 35px;
  background-color: #f9d6ed;
  border: #654bd4 outset 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 15px;
}

/* Label Styles */
label {
  padding-top: 5px;
  font-weight: bold;
}
/* Input Field Styles */
input[type="text"], input[type="number"], input[type="submit"] {
  margin: 10px 0;
  border: 2px inset #1c3069;
  border-radius: 4px;
}

/* Input Name & Table Styles */
input[type="text"], input[type="number"] {
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
}

/* Input Submit Styles */
input[type="submit"]{
  padding: 8px;
  width: 50%;
  background-color: #dcf1f4;
  color: #654bd4;
  cursor: pointer;
}

/* Hover Effect Styles */
input[type="submit"]:hover {
  background-color: #f9d6ed;
}

/* Message Styles */
#message {
  margin-top: 10px;
  font-weight: bold;
}